<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="pane">
        <h1>Edit {{ restaurant.name }}</h1>

        <form action="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}" method = 'POST'>

        <p>Name:</p>

        <input type='text' size='30' name='name' placeholder="{{ restaurant.name }}">

        <input type='submit' value='Update'>

        </form>

        <p><a href="{{ url_for('showRestaurants') }}">Cancel</a></p>
    </div>
</body>
</html>
