<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="pane">
    <h1>Restaurants</h1>

    <p><a href="{{ url_for('newRestaurant' )}}">Create a new restaurant</a></p>

    {% if restaurants %}

    {% for restaurant in restaurants %}

    <p><a href="{{ url_for('showMenu', restaurant_id = restaurant.id) }}">{{ restaurant.name }}</a></p>

    <p><a href="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}">Edit</a></p>

    <p><a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}">Delete</a></p>

    {% endfor %}

    {% else %}

    <p>No restaurant listings found</p>

    {% endif %}
</div>
</body>
</html>
